section.custom-1 {
    background: -moz-linear-gradient(top, #1a4789 37%, #6db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a4789 37%,#6db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a4789 37%,#6db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+*/
    height: 95vh;
    position: relative;
    z-index: 1;
    @include respond-above(sm) {
        height: 90vh;
    }
    &::before {
        content: "";
        opacity: 0.1;
        background: url('../images/bg-shape.png'), url('../images/bg-shape.png'),
                     url('../images/bg-shape.png');
        background-repeat: no-repeat;
        background-position: right -45px, 100px 95%,
                             60% 85%  ;
        background-size: 135px, 80px, 130px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        @include respond-above(xl) {
            background-size: 195px, 110px, 195;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 150px;
        left: 0px;        
        transform: skew(0deg, -3.5deg);
        transform-origin: top left;

        @include respond-below(md){
            bottom: -70px;
        }

        @include respond-above(lg){
            bottom: -150px;
        }

        @include respond-above(xl){
            bottom: -130px;
        }
    }
    .hero {
        height: 100%;

        .hero-text-area {

            @include respond-above(sm) {
                max-width: 320px; 
            } 

            @include respond-above(lg) {
                max-width: 490px; 
            } 

            @include respond-above(xl) {
                max-width: 690px; 
            }  

            h1{
                @include respond-above(sm) {
                    margin-bottom: 10px; 
                } 

                @include respond-above(lg) {
                    margin-bottom: 15px; 
                } 

                @include respond-above(xl) {
                    margin-bottom: 25px; 
                } 
            }                   
            
            p {
                @include respond-above(sm) {
                    margin-bottom: 25px; 
                } 

                @include respond-above(lg) {
                    margin-bottom: 35px; 
                } 

                @include respond-above(xl) {
                    margin-bottom: 45px; 
                } 
            }
            
            *{
                color: $light-color;
            }
        }
    
        .hero-image-area {
            max-width: 55vw;
            @include respond-above(sm) {                
                transform: translateX(50px);
                max-width: 324px;
            }  

            @include respond-above(lg) {
                max-width: 450px;
                transform: translateX(120px);
            }  
            
            @include respond-above(xl) {
                max-width: 615px;
                transform: translateX(150px);
            }         
    
            img {
                max-width: 100%;
            }
        }

    }
}