$primary-color: #072753;
$secondary-color: #ff9c00;
$light-color: #ffffff;
$dark-color: #000000;
$text-color: #28384e;
$primary-color-secondary: #1b498a;
$primary-color-dark: #011021;
$text-secondary: #a9b2bc;

$primary-font: 'HalveticaNeue', sans-serif, arial;
$font-bold: bold;
$font-medium: 500;
$font-regular: 400;